[Desktop Entry]
Name=Showberry
Comment=Browse and stream movies and TV series
Exec=showberry
Icon=com.github.showberry.Showberry
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;GTK;
Keywords=movies;streaming;player;mpv;
StartupNotify=true
